<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_44e0f349679dddd87f20738267b34be8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_44e0f349679dddd87f20738267b34be8" ></div>
        
</body>
<script>
    
    
            var map_44e0f349679dddd87f20738267b34be8 = L.map(
                "map_44e0f349679dddd87f20738267b34be8",
                {
                    center: [16.0, 106.0],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 5,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_157aab05857fce94a32c5681f32036f2 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_157aab05857fce94a32c5681f32036f2.addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
            var circle_marker_134f23a149b53e815ffcb2f1d5ce9121 = L.circleMarker(
                [11.474907, 107.242343],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_8a02d35bad497ec7c3911221cd7716cd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7e4a51e181856be889bfcf9de76c3813 = $(`<div id="html_7e4a51e181856be889bfcf9de76c3813" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_8a02d35bad497ec7c3911221cd7716cd.setContent(html_7e4a51e181856be889bfcf9de76c3813);
            
        

        circle_marker_134f23a149b53e815ffcb2f1d5ce9121.bindPopup(popup_8a02d35bad497ec7c3911221cd7716cd)
        ;

        
    
    
            var circle_marker_3d3dab56d80a6779bb38f49a4081c857 = L.circleMarker(
                [15.672576, 100.213704],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_ee4d10b00e097517b0421eca70517f01 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_993e5b1e46fb0c4204504aa4171cba79 = $(`<div id="html_993e5b1e46fb0c4204504aa4171cba79" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_ee4d10b00e097517b0421eca70517f01.setContent(html_993e5b1e46fb0c4204504aa4171cba79);
            
        

        circle_marker_3d3dab56d80a6779bb38f49a4081c857.bindPopup(popup_ee4d10b00e097517b0421eca70517f01)
        ;

        
    
    
            var circle_marker_412842d6aaf0ce3a0505fb7e72696b74 = L.circleMarker(
                [11.553242, 107.200887],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_8820d5d397dc343b3df4583ffcfbba76 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_083dca4f75890a712dc7f2fbd31ed72d = $(`<div id="html_083dca4f75890a712dc7f2fbd31ed72d" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_8820d5d397dc343b3df4583ffcfbba76.setContent(html_083dca4f75890a712dc7f2fbd31ed72d);
            
        

        circle_marker_412842d6aaf0ce3a0505fb7e72696b74.bindPopup(popup_8820d5d397dc343b3df4583ffcfbba76)
        ;

        
    
    
            var circle_marker_14a50fa9a95141b9918116ad530afb2f = L.circleMarker(
                [15.620047, 100.22498],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_24e439822098e4705f376a3d86bb518d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_4cf63d702734af01dcb27e2bee1d3391 = $(`<div id="html_4cf63d702734af01dcb27e2bee1d3391" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_24e439822098e4705f376a3d86bb518d.setContent(html_4cf63d702734af01dcb27e2bee1d3391);
            
        

        circle_marker_14a50fa9a95141b9918116ad530afb2f.bindPopup(popup_24e439822098e4705f376a3d86bb518d)
        ;

        
    
    
            var circle_marker_153c40eb7417d9b87fae28dbdc7add7b = L.circleMarker(
                [11.535919, 107.336461],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_a4d5afd98389c98c0d8f4da9dc7af438 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e6df4ae9a6bc1a25a86df69717872a1d = $(`<div id="html_e6df4ae9a6bc1a25a86df69717872a1d" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_a4d5afd98389c98c0d8f4da9dc7af438.setContent(html_e6df4ae9a6bc1a25a86df69717872a1d);
            
        

        circle_marker_153c40eb7417d9b87fae28dbdc7add7b.bindPopup(popup_a4d5afd98389c98c0d8f4da9dc7af438)
        ;

        
    
    
            var circle_marker_0c27325396b9285c3fb1d1169b5ef507 = L.circleMarker(
                [15.62595, 100.231763],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_86d3ddfe052b11eadfad541fc9da5d37 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e8d1d9d80378b57ec83dea82efd56f03 = $(`<div id="html_e8d1d9d80378b57ec83dea82efd56f03" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_86d3ddfe052b11eadfad541fc9da5d37.setContent(html_e8d1d9d80378b57ec83dea82efd56f03);
            
        

        circle_marker_0c27325396b9285c3fb1d1169b5ef507.bindPopup(popup_86d3ddfe052b11eadfad541fc9da5d37)
        ;

        
    
    
            var circle_marker_6e7f7ebdea5e4b8f54384cd86c488683 = L.circleMarker(
                [15.686862, 100.245362],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_896dcd0b622627580df3074f8c480715 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2b986e6447d5c9a833c56cae6fbec272 = $(`<div id="html_2b986e6447d5c9a833c56cae6fbec272" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_896dcd0b622627580df3074f8c480715.setContent(html_2b986e6447d5c9a833c56cae6fbec272);
            
        

        circle_marker_6e7f7ebdea5e4b8f54384cd86c488683.bindPopup(popup_896dcd0b622627580df3074f8c480715)
        ;

        
    
    
            var circle_marker_f7967d767c49617d2afed079a858f77c = L.circleMarker(
                [15.774443, 100.23678],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_5edf7c12a514b5b6b8e4bf458509df36 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b241b8cf8aa018a68bb2b78882c29d30 = $(`<div id="html_b241b8cf8aa018a68bb2b78882c29d30" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_5edf7c12a514b5b6b8e4bf458509df36.setContent(html_b241b8cf8aa018a68bb2b78882c29d30);
            
        

        circle_marker_f7967d767c49617d2afed079a858f77c.bindPopup(popup_5edf7c12a514b5b6b8e4bf458509df36)
        ;

        
    
    
            var circle_marker_83defdead4ad5bd64ef9e35cf19ef8b0 = L.circleMarker(
                [15.778744, 100.25218],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_ae9c3b3fde81458670eb254b098b594f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c52cf3550d00a849dfeab212b322a8c3 = $(`<div id="html_c52cf3550d00a849dfeab212b322a8c3" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_ae9c3b3fde81458670eb254b098b594f.setContent(html_c52cf3550d00a849dfeab212b322a8c3);
            
        

        circle_marker_83defdead4ad5bd64ef9e35cf19ef8b0.bindPopup(popup_ae9c3b3fde81458670eb254b098b594f)
        ;

        
    
    
            var circle_marker_e6ff699ce7f4623d99758fe261e678d7 = L.circleMarker(
                [11.549585, 107.585581],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_a001547ff6bee6d80d99439a0caf31fd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ec1f8e8c3057b29c526630db33105353 = $(`<div id="html_ec1f8e8c3057b29c526630db33105353" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_a001547ff6bee6d80d99439a0caf31fd.setContent(html_ec1f8e8c3057b29c526630db33105353);
            
        

        circle_marker_e6ff699ce7f4623d99758fe261e678d7.bindPopup(popup_a001547ff6bee6d80d99439a0caf31fd)
        ;

        
    
    
            var circle_marker_f92ca298da8944aa6287c5c6a199f0e5 = L.circleMarker(
                [15.736916, 100.313233],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_43642a86aef3d3c9a29524ec76531d33 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_209b2885e02d1499ea71230ba17d74ea = $(`<div id="html_209b2885e02d1499ea71230ba17d74ea" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_43642a86aef3d3c9a29524ec76531d33.setContent(html_209b2885e02d1499ea71230ba17d74ea);
            
        

        circle_marker_f92ca298da8944aa6287c5c6a199f0e5.bindPopup(popup_43642a86aef3d3c9a29524ec76531d33)
        ;

        
    
    
            var circle_marker_2ebfc85be053779d1a2169a64a91c342 = L.circleMarker(
                [11.551113, 107.392664],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_5640912f5f72ec61faef2137951502c0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c3f2e7353e139b7fdf81ff3cfa81034c = $(`<div id="html_c3f2e7353e139b7fdf81ff3cfa81034c" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_5640912f5f72ec61faef2137951502c0.setContent(html_c3f2e7353e139b7fdf81ff3cfa81034c);
            
        

        circle_marker_2ebfc85be053779d1a2169a64a91c342.bindPopup(popup_5640912f5f72ec61faef2137951502c0)
        ;

        
    
    
            var circle_marker_68dcffca2db8acb6ce0ecf4d98cab58c = L.circleMarker(
                [11.559867, 107.305474],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_f919938ec976483dc1e66455c2dfb4e4 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_203fd6c7eef3b5bc66771f26d330228a = $(`<div id="html_203fd6c7eef3b5bc66771f26d330228a" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_f919938ec976483dc1e66455c2dfb4e4.setContent(html_203fd6c7eef3b5bc66771f26d330228a);
            
        

        circle_marker_68dcffca2db8acb6ce0ecf4d98cab58c.bindPopup(popup_f919938ec976483dc1e66455c2dfb4e4)
        ;

        
    
    
            var circle_marker_1007121d30f1ce46b40bcc1a28fcc198 = L.circleMarker(
                [11.412032, 107.260961],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_6dbe28de2a419188ece9e1af2eb4a7c2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ec7aead99965a5b5c9f5b4c433320f31 = $(`<div id="html_ec7aead99965a5b5c9f5b4c433320f31" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_6dbe28de2a419188ece9e1af2eb4a7c2.setContent(html_ec7aead99965a5b5c9f5b4c433320f31);
            
        

        circle_marker_1007121d30f1ce46b40bcc1a28fcc198.bindPopup(popup_6dbe28de2a419188ece9e1af2eb4a7c2)
        ;

        
    
    
            var circle_marker_36614a807ae61c193d0f1197da4cbfe2 = L.circleMarker(
                [11.4437, 107.212588],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_50d2baaeb814fbd17cf10c9560fe2966 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9dbee30d01acd5a9d8cf048ba8aa26d0 = $(`<div id="html_9dbee30d01acd5a9d8cf048ba8aa26d0" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_50d2baaeb814fbd17cf10c9560fe2966.setContent(html_9dbee30d01acd5a9d8cf048ba8aa26d0);
            
        

        circle_marker_36614a807ae61c193d0f1197da4cbfe2.bindPopup(popup_50d2baaeb814fbd17cf10c9560fe2966)
        ;

        
    
    
            var circle_marker_1884d8e4bb9196b9e14af45b57dc6f1c = L.circleMarker(
                [11.598294, 107.319781],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_7425ed84ea2be3c08c82fea4f1a441cd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_36ee265f97f2a2d471c8d2a1cb7424c5 = $(`<div id="html_36ee265f97f2a2d471c8d2a1cb7424c5" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_7425ed84ea2be3c08c82fea4f1a441cd.setContent(html_36ee265f97f2a2d471c8d2a1cb7424c5);
            
        

        circle_marker_1884d8e4bb9196b9e14af45b57dc6f1c.bindPopup(popup_7425ed84ea2be3c08c82fea4f1a441cd)
        ;

        
    
    
            var circle_marker_78afc8ebf05939a44268c99e38065b13 = L.circleMarker(
                [11.504306, 107.294408],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_1802e72bb452815bbd9f8adc89182f2d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f5629876110b197b46b6910ff9e98a6a = $(`<div id="html_f5629876110b197b46b6910ff9e98a6a" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_1802e72bb452815bbd9f8adc89182f2d.setContent(html_f5629876110b197b46b6910ff9e98a6a);
            
        

        circle_marker_78afc8ebf05939a44268c99e38065b13.bindPopup(popup_1802e72bb452815bbd9f8adc89182f2d)
        ;

        
    
    
            var circle_marker_0b7fc84da766c86c5a39a0b0b2b9fb3e = L.circleMarker(
                [11.450982, 107.231659],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_62401c95d2df9ac2e8477c29ad74e008 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f16fd0a5560b47b1a7f3d87d623894ee = $(`<div id="html_f16fd0a5560b47b1a7f3d87d623894ee" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_62401c95d2df9ac2e8477c29ad74e008.setContent(html_f16fd0a5560b47b1a7f3d87d623894ee);
            
        

        circle_marker_0b7fc84da766c86c5a39a0b0b2b9fb3e.bindPopup(popup_62401c95d2df9ac2e8477c29ad74e008)
        ;

        
    
    
            var circle_marker_746a478a1b07fa7ce2c9817dce5d8295 = L.circleMarker(
                [11.487391, 107.244995],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_b250c83c67e40a971b457f9c871fc8a4 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_20d6f6c2677d9ae74562ab5b4666ccb3 = $(`<div id="html_20d6f6c2677d9ae74562ab5b4666ccb3" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_b250c83c67e40a971b457f9c871fc8a4.setContent(html_20d6f6c2677d9ae74562ab5b4666ccb3);
            
        

        circle_marker_746a478a1b07fa7ce2c9817dce5d8295.bindPopup(popup_b250c83c67e40a971b457f9c871fc8a4)
        ;

        
    
    
            var circle_marker_3ba7b7db73b900f04c7e819a05659590 = L.circleMarker(
                [11.544291, 107.253915],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_3c770955a1c227bce9d94ee176a531b4 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ecc9555318c366b9477b59a11616041f = $(`<div id="html_ecc9555318c366b9477b59a11616041f" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_3c770955a1c227bce9d94ee176a531b4.setContent(html_ecc9555318c366b9477b59a11616041f);
            
        

        circle_marker_3ba7b7db73b900f04c7e819a05659590.bindPopup(popup_3c770955a1c227bce9d94ee176a531b4)
        ;

        
    
    
            var circle_marker_6660213b9f92872742475ce4a51b5151 = L.circleMarker(
                [11.476484, 107.204576],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_cc89e233b11aac135cc438949e4e8881 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_58ada888942a8675f6786090a10c2e40 = $(`<div id="html_58ada888942a8675f6786090a10c2e40" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_cc89e233b11aac135cc438949e4e8881.setContent(html_58ada888942a8675f6786090a10c2e40);
            
        

        circle_marker_6660213b9f92872742475ce4a51b5151.bindPopup(popup_cc89e233b11aac135cc438949e4e8881)
        ;

        
    
    
            var circle_marker_be0225fe60e6d1e24930b53fa074ef72 = L.circleMarker(
                [11.493684, 107.320703],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_1951d9035f725a58727a0248dca7d5a0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f52e528006b03c2eba5b9abb3a08623e = $(`<div id="html_f52e528006b03c2eba5b9abb3a08623e" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_1951d9035f725a58727a0248dca7d5a0.setContent(html_f52e528006b03c2eba5b9abb3a08623e);
            
        

        circle_marker_be0225fe60e6d1e24930b53fa074ef72.bindPopup(popup_1951d9035f725a58727a0248dca7d5a0)
        ;

        
    
    
            var circle_marker_85e47fc7a00cdd41f949dd41820ab1b8 = L.circleMarker(
                [11.520849, 107.31169],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_d86f66a53a40ec01ac6e9cfba2a20afe = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_337a21663dafa258b95c6e5032a0e4c5 = $(`<div id="html_337a21663dafa258b95c6e5032a0e4c5" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_d86f66a53a40ec01ac6e9cfba2a20afe.setContent(html_337a21663dafa258b95c6e5032a0e4c5);
            
        

        circle_marker_85e47fc7a00cdd41f949dd41820ab1b8.bindPopup(popup_d86f66a53a40ec01ac6e9cfba2a20afe)
        ;

        
    
    
            var circle_marker_db24d4493fd3efe3a1d3c84ea2e46f14 = L.circleMarker(
                [11.428906, 107.298632],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_c4f24ca9733c77acfaab7481e4bee608 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_85c6edc8794ff1965febc04ac433d136 = $(`<div id="html_85c6edc8794ff1965febc04ac433d136" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_c4f24ca9733c77acfaab7481e4bee608.setContent(html_85c6edc8794ff1965febc04ac433d136);
            
        

        circle_marker_db24d4493fd3efe3a1d3c84ea2e46f14.bindPopup(popup_c4f24ca9733c77acfaab7481e4bee608)
        ;

        
    
    
            var circle_marker_36a3b536675d175900fabd7d208774e2 = L.circleMarker(
                [11.592626, 107.312088],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_b7e5124da8fa94aca5c9469651b96164 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_792bdae1f5c715aeacbf75fa3135667f = $(`<div id="html_792bdae1f5c715aeacbf75fa3135667f" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_b7e5124da8fa94aca5c9469651b96164.setContent(html_792bdae1f5c715aeacbf75fa3135667f);
            
        

        circle_marker_36a3b536675d175900fabd7d208774e2.bindPopup(popup_b7e5124da8fa94aca5c9469651b96164)
        ;

        
    
    
            var circle_marker_ef7fd7a2fbb29a5dbe8caa39483f93bc = L.circleMarker(
                [11.564837, 107.320722],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_117f86f39af8f5475be5c55b399dccde = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5f911a071a5ae266b06c73b959582b1b = $(`<div id="html_5f911a071a5ae266b06c73b959582b1b" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_117f86f39af8f5475be5c55b399dccde.setContent(html_5f911a071a5ae266b06c73b959582b1b);
            
        

        circle_marker_ef7fd7a2fbb29a5dbe8caa39483f93bc.bindPopup(popup_117f86f39af8f5475be5c55b399dccde)
        ;

        
    
    
            var circle_marker_756d366f90fe15f320719a0afdee525e = L.circleMarker(
                [11.497546, 107.300777],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_667b538c296b9bef2c0b5c4c6ae468a9 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d5d5441a1a3ecfb744ada2677c982faf = $(`<div id="html_d5d5441a1a3ecfb744ada2677c982faf" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_667b538c296b9bef2c0b5c4c6ae468a9.setContent(html_d5d5441a1a3ecfb744ada2677c982faf);
            
        

        circle_marker_756d366f90fe15f320719a0afdee525e.bindPopup(popup_667b538c296b9bef2c0b5c4c6ae468a9)
        ;

        
    
    
            var circle_marker_45c06e374d57221d54d297621117c4c6 = L.circleMarker(
                [11.427969, 107.228942],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_34f4fa00e4fb184f971fef778088432e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_99a3931e76a346f1de7a23630130e530 = $(`<div id="html_99a3931e76a346f1de7a23630130e530" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_34f4fa00e4fb184f971fef778088432e.setContent(html_99a3931e76a346f1de7a23630130e530);
            
        

        circle_marker_45c06e374d57221d54d297621117c4c6.bindPopup(popup_34f4fa00e4fb184f971fef778088432e)
        ;

        
    
    
            var circle_marker_4f9dbd831f2d249432a86f6b5527e1f4 = L.circleMarker(
                [15.662888, 100.386502],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_d03d21cb82327c5bebe08464e60beb20 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f54fb41a02bf950875c10970bc15fd67 = $(`<div id="html_f54fb41a02bf950875c10970bc15fd67" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_d03d21cb82327c5bebe08464e60beb20.setContent(html_f54fb41a02bf950875c10970bc15fd67);
            
        

        circle_marker_4f9dbd831f2d249432a86f6b5527e1f4.bindPopup(popup_d03d21cb82327c5bebe08464e60beb20)
        ;

        
    
    
            var circle_marker_c05b60857e52465f31c589454bc5adc4 = L.circleMarker(
                [11.532457, 107.336675],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_1b673956005124127f35376ea0ba5681 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f3bdcceccff9ff09ea75d216ce04e967 = $(`<div id="html_f3bdcceccff9ff09ea75d216ce04e967" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_1b673956005124127f35376ea0ba5681.setContent(html_f3bdcceccff9ff09ea75d216ce04e967);
            
        

        circle_marker_c05b60857e52465f31c589454bc5adc4.bindPopup(popup_1b673956005124127f35376ea0ba5681)
        ;

        
    
    
            var circle_marker_614b28ad98d21ae28d71152bfc9076bd = L.circleMarker(
                [11.534955, 107.567263],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_a0f25de8380c272494b0be56b773dc14 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_fd86c41fa33d5d3120e12e9e80db5021 = $(`<div id="html_fd86c41fa33d5d3120e12e9e80db5021" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_a0f25de8380c272494b0be56b773dc14.setContent(html_fd86c41fa33d5d3120e12e9e80db5021);
            
        

        circle_marker_614b28ad98d21ae28d71152bfc9076bd.bindPopup(popup_a0f25de8380c272494b0be56b773dc14)
        ;

        
    
    
            var circle_marker_86aaac6dc8ee78f6053ed3f429c012e9 = L.circleMarker(
                [11.437467, 107.536779],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_8ace58a2732a9404fed486220da86907 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5872987b2d6d07d7a02b9480cd0ce361 = $(`<div id="html_5872987b2d6d07d7a02b9480cd0ce361" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_8ace58a2732a9404fed486220da86907.setContent(html_5872987b2d6d07d7a02b9480cd0ce361);
            
        

        circle_marker_86aaac6dc8ee78f6053ed3f429c012e9.bindPopup(popup_8ace58a2732a9404fed486220da86907)
        ;

        
    
    
            var circle_marker_d10c57bc4b8a31e949d9e17ad7997b3f = L.circleMarker(
                [15.724533, 100.323581],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_620ab6efda0414f5f1c12646a7337e82 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_96317bc0e0c6af1a2d29052d92e83789 = $(`<div id="html_96317bc0e0c6af1a2d29052d92e83789" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_620ab6efda0414f5f1c12646a7337e82.setContent(html_96317bc0e0c6af1a2d29052d92e83789);
            
        

        circle_marker_d10c57bc4b8a31e949d9e17ad7997b3f.bindPopup(popup_620ab6efda0414f5f1c12646a7337e82)
        ;

        
    
    
            var circle_marker_1c6dc2c6c3284488b97bada383010456 = L.circleMarker(
                [11.469033, 107.27366],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_7e95ac442aed44d37edefa9842cf2664 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_52b11bddd74081b9c2cef50528705edd = $(`<div id="html_52b11bddd74081b9c2cef50528705edd" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_7e95ac442aed44d37edefa9842cf2664.setContent(html_52b11bddd74081b9c2cef50528705edd);
            
        

        circle_marker_1c6dc2c6c3284488b97bada383010456.bindPopup(popup_7e95ac442aed44d37edefa9842cf2664)
        ;

        
    
    
            var circle_marker_6b5e28e1950c00b1f07361cca20226be = L.circleMarker(
                [11.532894, 107.334863],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_178ecc17aabc66af17a507d79b82710d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7bfe7524fe3d16146aff36736c9572ab = $(`<div id="html_7bfe7524fe3d16146aff36736c9572ab" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_178ecc17aabc66af17a507d79b82710d.setContent(html_7bfe7524fe3d16146aff36736c9572ab);
            
        

        circle_marker_6b5e28e1950c00b1f07361cca20226be.bindPopup(popup_178ecc17aabc66af17a507d79b82710d)
        ;

        
    
    
            var circle_marker_032c6024d9fd512d4a8749a7306a58c1 = L.circleMarker(
                [11.479801, 107.219008],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_d0c1da99e1a8f22985bf66c51f7d2a86 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_837a6606b6ef3509076a7828031cd55c = $(`<div id="html_837a6606b6ef3509076a7828031cd55c" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_d0c1da99e1a8f22985bf66c51f7d2a86.setContent(html_837a6606b6ef3509076a7828031cd55c);
            
        

        circle_marker_032c6024d9fd512d4a8749a7306a58c1.bindPopup(popup_d0c1da99e1a8f22985bf66c51f7d2a86)
        ;

        
    
    
            var circle_marker_75d95b08c1cbdddcdb22f179ddb02779 = L.circleMarker(
                [11.48711, 107.50919],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_a5bb69fcb0b20ddc9a3a4617e228a398 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_cb6c354f9ebe7a275448751dc51b8531 = $(`<div id="html_cb6c354f9ebe7a275448751dc51b8531" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_a5bb69fcb0b20ddc9a3a4617e228a398.setContent(html_cb6c354f9ebe7a275448751dc51b8531);
            
        

        circle_marker_75d95b08c1cbdddcdb22f179ddb02779.bindPopup(popup_a5bb69fcb0b20ddc9a3a4617e228a398)
        ;

        
    
    
            var circle_marker_75db26b7eb91edd79a31cb310c1b5f36 = L.circleMarker(
                [11.511381, 107.215667],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_7773534d647fbd342cc90ba39b95f955 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_80974508fd5c825b2b1d9af1092414a3 = $(`<div id="html_80974508fd5c825b2b1d9af1092414a3" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_7773534d647fbd342cc90ba39b95f955.setContent(html_80974508fd5c825b2b1d9af1092414a3);
            
        

        circle_marker_75db26b7eb91edd79a31cb310c1b5f36.bindPopup(popup_7773534d647fbd342cc90ba39b95f955)
        ;

        
    
    
            var circle_marker_1585ad0ad53db38009c6999993c91db5 = L.circleMarker(
                [15.665009, 100.240562],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_e83c2f5389aadbcb465d0e0c1cd24ef7 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_253be85fab506bf6ca66223f130f4e13 = $(`<div id="html_253be85fab506bf6ca66223f130f4e13" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_e83c2f5389aadbcb465d0e0c1cd24ef7.setContent(html_253be85fab506bf6ca66223f130f4e13);
            
        

        circle_marker_1585ad0ad53db38009c6999993c91db5.bindPopup(popup_e83c2f5389aadbcb465d0e0c1cd24ef7)
        ;

        
    
    
            var circle_marker_46244454ff0fb0c9c6a2591f9c10887a = L.circleMarker(
                [11.535106, 107.461877],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_c0e453eb9c0556c13f31c86cddc07e49 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0b511d09c02444106428c5d88ecca162 = $(`<div id="html_0b511d09c02444106428c5d88ecca162" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_c0e453eb9c0556c13f31c86cddc07e49.setContent(html_0b511d09c02444106428c5d88ecca162);
            
        

        circle_marker_46244454ff0fb0c9c6a2591f9c10887a.bindPopup(popup_c0e453eb9c0556c13f31c86cddc07e49)
        ;

        
    
    
            var circle_marker_f740e5b7accd98e45c758c13a99ab9e6 = L.circleMarker(
                [15.676664, 100.336255],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_1813c4249ef2c7642d751f386baaa3bc = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f6ecb4dc7a2026441f929a8acf8973d6 = $(`<div id="html_f6ecb4dc7a2026441f929a8acf8973d6" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_1813c4249ef2c7642d751f386baaa3bc.setContent(html_f6ecb4dc7a2026441f929a8acf8973d6);
            
        

        circle_marker_f740e5b7accd98e45c758c13a99ab9e6.bindPopup(popup_1813c4249ef2c7642d751f386baaa3bc)
        ;

        
    
    
            var circle_marker_e920a4346554a09826904a27017bde34 = L.circleMarker(
                [11.476156, 107.588353],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_407d69323d4517d4273f067ca9ce2744 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_84eca5be0163d9aa20584d392dbe879b = $(`<div id="html_84eca5be0163d9aa20584d392dbe879b" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_407d69323d4517d4273f067ca9ce2744.setContent(html_84eca5be0163d9aa20584d392dbe879b);
            
        

        circle_marker_e920a4346554a09826904a27017bde34.bindPopup(popup_407d69323d4517d4273f067ca9ce2744)
        ;

        
    
    
            var circle_marker_2baca7779425d33a65f25ff4ab0a9b00 = L.circleMarker(
                [11.448582, 107.362185],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_0e2c808271e46ab3d2e605b637ba0b53 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3105f34e4ecb460ec2bc5810af4e8b20 = $(`<div id="html_3105f34e4ecb460ec2bc5810af4e8b20" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_0e2c808271e46ab3d2e605b637ba0b53.setContent(html_3105f34e4ecb460ec2bc5810af4e8b20);
            
        

        circle_marker_2baca7779425d33a65f25ff4ab0a9b00.bindPopup(popup_0e2c808271e46ab3d2e605b637ba0b53)
        ;

        
    
    
            var circle_marker_885307e48e88a2da7d29683dd15d9c90 = L.circleMarker(
                [11.417739, 107.344025],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_3c62979e995316c3b7496c247a1101e5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d993b17ff79b577284fbc6cf36c25445 = $(`<div id="html_d993b17ff79b577284fbc6cf36c25445" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_3c62979e995316c3b7496c247a1101e5.setContent(html_d993b17ff79b577284fbc6cf36c25445);
            
        

        circle_marker_885307e48e88a2da7d29683dd15d9c90.bindPopup(popup_3c62979e995316c3b7496c247a1101e5)
        ;

        
    
    
            var circle_marker_f7952924c9822317a89dd7cb911f5a48 = L.circleMarker(
                [11.556268, 107.225469],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_613b023c0064d0197dd8888625b7aad1 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_edaa90b481c5e41879c860382e78b0c0 = $(`<div id="html_edaa90b481c5e41879c860382e78b0c0" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_613b023c0064d0197dd8888625b7aad1.setContent(html_edaa90b481c5e41879c860382e78b0c0);
            
        

        circle_marker_f7952924c9822317a89dd7cb911f5a48.bindPopup(popup_613b023c0064d0197dd8888625b7aad1)
        ;

        
    
    
            var circle_marker_1cb6bd71f4e4383f7c1529c4baae4b9f = L.circleMarker(
                [11.501021, 107.255243],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_55111dfaebbf27857f964992494eca9d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_73498546ec4fc54677e6d081552b3bf9 = $(`<div id="html_73498546ec4fc54677e6d081552b3bf9" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_55111dfaebbf27857f964992494eca9d.setContent(html_73498546ec4fc54677e6d081552b3bf9);
            
        

        circle_marker_1cb6bd71f4e4383f7c1529c4baae4b9f.bindPopup(popup_55111dfaebbf27857f964992494eca9d)
        ;

        
    
    
            var circle_marker_56ae59a977e6cce1a7bda108373f08a7 = L.circleMarker(
                [11.55694, 107.287257],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_5e02b0c9221105be791fd1afc44449cc = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_213c5e8d2abc95892ab35cc8b9d0bb14 = $(`<div id="html_213c5e8d2abc95892ab35cc8b9d0bb14" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_5e02b0c9221105be791fd1afc44449cc.setContent(html_213c5e8d2abc95892ab35cc8b9d0bb14);
            
        

        circle_marker_56ae59a977e6cce1a7bda108373f08a7.bindPopup(popup_5e02b0c9221105be791fd1afc44449cc)
        ;

        
    
    
            var circle_marker_ef7ef934a50aaf7f8e52952e62d857fa = L.circleMarker(
                [11.543172, 107.338032],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_69e2015f4141a1d66c37641038915c4c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_38a4403f2b78fdc591ba2d5210213cff = $(`<div id="html_38a4403f2b78fdc591ba2d5210213cff" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_69e2015f4141a1d66c37641038915c4c.setContent(html_38a4403f2b78fdc591ba2d5210213cff);
            
        

        circle_marker_ef7ef934a50aaf7f8e52952e62d857fa.bindPopup(popup_69e2015f4141a1d66c37641038915c4c)
        ;

        
    
    
            var circle_marker_c6fcd47921e0eb9fa3b3c2424ed0dba5 = L.circleMarker(
                [11.480865, 107.38807],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_e24d4ed7ea542b7745258b39eff45fb3 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3cadb3f07ec674623969de0b162579ff = $(`<div id="html_3cadb3f07ec674623969de0b162579ff" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_e24d4ed7ea542b7745258b39eff45fb3.setContent(html_3cadb3f07ec674623969de0b162579ff);
            
        

        circle_marker_c6fcd47921e0eb9fa3b3c2424ed0dba5.bindPopup(popup_e24d4ed7ea542b7745258b39eff45fb3)
        ;

        
    
    
            var circle_marker_266b47e42fc2285fc036718d3aebfe66 = L.circleMarker(
                [11.444052, 107.37583],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_44e0f349679dddd87f20738267b34be8);
        
    
        var popup_a52e591f540b4073ff77d476a707afdd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c0588190902fee6a13bbc557cf2a7979 = $(`<div id="html_c0588190902fee6a13bbc557cf2a7979" style="width: 100.0%; height: 100.0%;">Phát hiện: crocodylus siamensis</div>`)[0];
                popup_a52e591f540b4073ff77d476a707afdd.setContent(html_c0588190902fee6a13bbc557cf2a7979);
            
        

        circle_marker_266b47e42fc2285fc036718d3aebfe66.bindPopup(popup_a52e591f540b4073ff77d476a707afdd)
        ;

        
    
</script>
</html>